.DayPicker {
  .DayPicker-wrapper {
    .bp3-datepicker-navbar.DayPicker-NavBar {
      button {
        transition: all 0.3s ease-in;
        &:hover {
          background-color: theme("colors.gray.100");
        }
      }
    }

    .DayPicker-Months {
      .DayPicker-Month {
        .DayPicker-Caption {
          .bp3-datepicker-caption {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 0 16px 4px;

            & > :first-child {
              flex-grow: 0;
            }

            .bp3-html-select.bp3-minimal {
              select {
                transition: all 0.3s ease-in;
                &:hover {
                  background-color: theme("colors.gray.100") !important;
                }
              }
              span {
                right: 0 !important;
              }
            }
          }
        }

        .DayPicker-Body {
          .DayPicker-Week {
            .DayPicker-Day {
              transition: all 0.3s ease-in;

              &:hover {
                background-color: theme("colors.gray.100");
              }

              &--selected {
                background-color: theme("colors.purple.500");

                &:active,
                &:hover {
                  background-color: theme("colors.purple.600");
                }
              }

              &--selected-range {
                background-color: theme("colors.purple.100");
                &:hover,
                &:active {
                  background-color: theme("colors.purple.200");
                }
              }
            }
          }
        }
      }
    }
  }
}
